.sidebarRow:hover {
    background-color: #D6D6D6;
    cursor: pointer;
}

.sidebarRow:hover > .icon {
    fill: #BB0101;
}

.postListButton:hover {
    background-color: #E0E0E0 !important;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #E5E5E5 !important;
}

#postDetailBg {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    pointer-events: none;
}

button:hover > .closeButton {
    background-color: #E9E8E8;
    cursor: pointer;
}

.postDetailImage {
    border: none !important; 
}

.menu {
    width: 350px;
    overflow: auto; 
    background: #F2F1F1;
    padding-top: 50px;
    position: relative;
    top: 0;
    left: 0;
    transition: 350ms;
}

.menu.nonactive {
    width: 0px;
    overflow: hidden;
    left: -100%;
    transition: 350ms;

}

.addPhotoButton:hover {
    background-color: #BB0101;
}

.addPhotoButton:hover > .addPhotoLogo {
    fill: white !important;
}

.addPhotoButton:hover > .addPhotoText {
    color: white !important;
}

@media only screen and (max-width: 1300px){
    .menu {
        width: 350px;
        background: #F2F1F1;
        padding-top: 50px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 350ms;
        z-index: 1;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    .page {
        position: relative;
    }

    #content {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
        pointer-events: none;
    }


}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C6C6C6 !important;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C6C6C6;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #C6C6C6;
}